body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#page {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px #aaa;
    margin: 10px auto;
    padding: 50px;
    text-align: left;
    width: 300px;
}

/*************************************************************
 * Color picker
 ************************************************************/
#colorPicker {
    position: relative;
}

/* Picker activating image */
#colorPicker > img {
    cursor: pointer;
    vertical-align: middle;
}

/* Div containing all color picking images
 * TODO: an unordered list will be more semantically correct
 */
#colorPicker > div {
    background-color: #fff;
    box-shadow: 0 0 8px 2px #aaa;
    display: none;
    position: absolute;
    left: 20px;
    padding: 1px;
    top: 20px;
    width: 88px;
}

/* Color picking images */
#colorPicker > div img {
    float: left;
    margin: 1px;
}

/* Textual image placement*/
#colorPicker > div img:first-child {
    float: right;
}

/* Color picking images (minus textual one) hover effect */
#colorPicker > div img:not(:first-child):hover {
    cursor: pointer;
    opacity: .6;
}
